GeoAlchemy2
Pillow
beautifulsoup4
behave
coverage
fastapi
html5lib
lxml
numpy
pycodestyle
pydantic
pyperclip
pytest
pyyaml
requests
shapely
sqlalchemy
sqlalchemy-starter
tasklib
uvicorn
websockets

# ipython
numpy
matplotlib

# pytest-cov
# pytest-flakes
# pytest-mock
# pytest-pep8
# pytest-pythonpath
# python-dotenv
# python-multipart

